body {
	font-family: 'Indie Flower', cursive;
	margin: 0px 200px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

p {
	font-size: 25px;
	text-align: center;
}

canvas {
	text-align: center;
	border: 1px solid black;
	margin: 0px;
	padding: 0px;

}

#controls {
	float: left;
}

#instructions {
	float: right;
}



#footer {
	clear: both;
    margin: 10px 100px;
    font-size: 16px;
}

#footer hr {
    margin: 0px;
}

#footer a {
    color: #0099ff;

    font-weight: bold;
    text-decoration: none;

     transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;

}

#footer a:hover {
    color: #323232;
}

#footer #text {
    display: inline-block;
    vertical-align: text-top;


}

#footer #icons {
    display: inline-block;
    float: right;
    vertical-align: text-top;

}

#footer #icons a {
    font-size: 25px;
    text-decoration: none;
    color: #323232;
}

#footer #icons a:hover {
    text-decoration: none;
    color: #0099ff;

}

